@font-face {
  font-family: 'silkscreennormal';
  src: url('/font/silkscreen_normal_macroman/slkscr-webfont.eot');
  src: url('/font/silkscreen_normal_macroman/slkscr-webfont.eot?#iefix') format('embedded-opentype'), url('/font/silkscreen_normal_macroman/slkscr-webfont.woff') format('woff'), url('/font/silkscreen_normal_macroman/slkscr-webfont.ttf') format('truetype'), url('/font/silkscreen_normal_macroman/slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'silkscreenbold';
  src: url('/font/silkscreen_bold_macroman/slkscrb-webfont.eot');
  src: url('/font/silkscreen_bold_macroman/slkscrb-webfont.eot?#iefix') format('embedded-opentype'), url('/font/silkscreen_bold_macroman/slkscrb-webfont.woff') format('woff'), url('/font/silkscreen_bold_macroman/slkscrb-webfont.ttf') format('truetype'), url('/font/silkscreen_bold_macroman/slkscrb-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal; }

* {
  outline: none; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'silkscreennormal';
  width: 100%;
  height: 100%;
  text-align: center; }

h1 {
  font-family: 'silkscreenbold'; }

#super-wrapper {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px; }

#wrapper, #options {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  max-width: 600px; }

#tiles {
  background: #383838;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }

#void {
  display: block;
  width: 100%;
  height: auto; }

.tile, .pixel {
  float: left; }

.tile {
  display: none; }
  .tile.village, .tile.cottage, .tile.boat, .tile.hero {
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .tile.x0 {
    left: 0px; }
  .tile.y0 {
    top: 0px; }
  .tile.x1 {
    left: 25px; }
  .tile.y1 {
    top: 25px; }
  .tile.x2 {
    left: 50px; }
  .tile.y2 {
    top: 50px; }
  .tile.x3 {
    left: 75px; }
  .tile.y3 {
    top: 75px; }
  .tile.x4 {
    left: 100px; }
  .tile.y4 {
    top: 100px; }
  .tile.x5 {
    left: 125px; }
  .tile.y5 {
    top: 125px; }
  .tile.x6 {
    left: 150px; }
  .tile.y6 {
    top: 150px; }
  .tile.x7 {
    left: 175px; }
  .tile.y7 {
    top: 175px; }
  .tile.x8 {
    left: 200px; }
  .tile.y8 {
    top: 200px; }
  .tile.x9 {
    left: 225px; }
  .tile.y9 {
    top: 225px; }
  .tile.x10 {
    left: 250px; }
  .tile.y10 {
    top: 250px; }
  .tile.x11 {
    left: 275px; }
  .tile.y11 {
    top: 275px; }

.hero {
  z-index: 999; }

#warp, #random-warp {
  display: inline-block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 4px 30px; }

#random-warp {
  display: block;
  width: 137px;
  margin: 10px auto 0; }

#warp-target {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: none;
  font-family: 'silkscreennormal';
  height: 18px;
  border-bottom: 1px solid black;
  width: 80px;
  margin-right: 10px; }
