@font-face {
	font-family: 'silkscreennormal';
	src: url('/font/silkscreen_normal_macroman/slkscr-webfont.eot');
	src: url('/font/silkscreen_normal_macroman/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
	url('/font/silkscreen_normal_macroman/slkscr-webfont.woff') format('woff'),
	url('/font/silkscreen_normal_macroman/slkscr-webfont.ttf') format('truetype'),
	url('/font/silkscreen_normal_macroman/slkscr-webfont.svg#silkscreennormal') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'silkscreenbold';
	src: url('/font/silkscreen_bold_macroman/slkscrb-webfont.eot');
	src: url('/font/silkscreen_bold_macroman/slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
	url('/font/silkscreen_bold_macroman/slkscrb-webfont.woff') format('woff'),
	url('/font/silkscreen_bold_macroman/slkscrb-webfont.ttf') format('truetype'),
	url('/font/silkscreen_bold_macroman/slkscrb-webfont.svg#silkscreennormal') format('svg');
	font-weight: normal;
	font-style: normal;

}

* {
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'silkscreennormal';
	width: 100%;
	height: 100%;
	text-align: center;
}

h1 {
	font-family: 'silkscreenbold';
}

#super-wrapper {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}

#wrapper,
#options {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;

	max-width: 600px;
}

#tiles {
	background: #383838;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
//    top: 0;
//    left: 0;
}

#void {
	display: block;
    width: 100%;
    height: auto;
}

.tile,
.pixel {
    float: left;
}

.tile {

	display: none;

	&.village,
	&.cottage,
	&.boat,
	&.hero {
		position: absolute;

		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}

	@for $i from 0 through 11 {
		&.x#{$i} { left: $i * 25px; }
		&.y#{$i} { top: $i * 25px; }
	}
}

.hero {
	z-index: 999;
}

#warp,
#random-warp {
	display: inline-block;
	background: black;
	color: white;
	text-decoration: none;
	padding: 4px 30px;
}

#random-warp {
	display: block;
	width: 137px;
	margin: 10px auto 0;
}

#warp-target {
	text-align: center;
	display: inline-block;
	text-decoration: none;
	border: none;
	font-family: 'silkscreennormal';
	height: 18px;
	border-bottom: 1px solid black;
	width: 80px;
	margin-right: 10px;
}